@import "bootstrap.min.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
a {
  cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Colour variables */
/* Border-color */
/* Bg Color */
/* Box Shadow */
/* Font Size */
/* Font Family */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 38px;
  font-weight: 600;
}
h2 {
  font-size: 28px;
  position: relative;
}
h2 .hash-link {
  position: relative;
  margin-left: -30px;
  margin-right: 8px;
  top: 5px;
  display: inline-block;
  visibility: hidden;
  background: url(../images/link-grey.svg) no-repeat left center;
  width: 22px;
  height: 22px;
}
h2:hover .hash-link {
  visibility: visible;
}
h3 {
  font-size: 22px;
  white-space: pre-line;
  word-wrap: break-word;
}
h4,
h5 {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #25c2a3;
}
a:focus {
  background-color: transparent !important;
  outline: none;
  text-decoration: none;
  color: #25c2a3;
}
a:hover {
  text-decoration: none;
  color: #1da6a1;
}
p {
  font-size: 16px;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
table {
  margin: 30px 0;
  border: 1px solid #d5dbdc;
}
table tr {
  border-top: 1px solid #f5f5f5;
}
table tr td {
  background-color: transparent;
  font-size: 16px;
  text-transform: none;
  padding: 10px 15px 10px 15px;
}
table tr:first-child {
  background: #edf1f2;
  border-bottom: 1px solid #edf1f2;
  border-top: 1px solid #d5dbdc;
}
table tr:first-child td {
  font-weight: 700;
}
.header {
  padding: 0 48px 0;
  background: #ffffff;
  border-bottom: 1px solid #e3e9ef;
  overflow: hidden;
  min-height: 54px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 99;
  box-shadow: 0 4px 5px 0 rgba(180, 187, 193, 0.25);
}
.header .logo {
  display: inline-block;
  position: relative;
  top: 2px;
  padding: 11px 0 10px;
}
.header .logo img {
  width: 100%;
  max-width: 255px;
  height: auto;
}
.header .logo a {
  text-decoration: none;
}
.header .logo span {
  font-weight: 100;
  color: #000000;
  font-size: 18px;
  position: relative;
  top: -1px;
}
.header .right-area {
  float: right;
  padding: 0;
  margin-right: -660px;
  position: relative;
  right: 50%;
}
.header .right-area .search {
  background: #f5f6f7;
  position: relative;
  float: left;
  width: 320px;
  margin-right: 56px;
}
.header .right-area .search .s-btn {
  display: inline-block;
  color: #ffffff;
  padding: 0;
  position: absolute;
  top: 19px;
  left: 12px;
}
.header .right-area .search .input-bx {
  display: inline-block;
  width: 100%;
  padding: 16px 34px;
  margin: 0;
  outline: 0;
  vertical-align: top;
  background: none;
  color: #717171;
  font-size: 15px;
  border: 0;
}
.header .right-area .search .input-bx::-webkit-input-placeholder {
  color: #ababae;
}
.header .right-area nav {
  float: right;
}
.header .right-area nav ul {
  display: inline-block;
  margin-top: 15px;
}
.header .right-area nav ul li {
  display: inherit;
  font-size: 15px;
}
.header .right-area nav ul li a {
  text-decoration: none;
  background: 0 0;
  border: 0;
  color: #524848;
  opacity: 1;
  font-size: inherit;
  line-height: 20px;
  padding: 5px 8px 5px;
}
.cont-wrapper {
  padding-top: 50px;
}
.cont-wrapper h1,
.cont-wrapper h2,
.cont-wrapper h3,
.cont-wrapper h4,
.cont-wrapper h5 {
  margin: 36px 0 20px;
}
.cont-wrapper.tabs-view h1 {
  margin: 35px 0 20px;
}
.cont-wrapper p {
  margin-bottom: 30px;
  line-height: 1.8;
}
.cont-wrapper p.note {
  font-size: 14px;
  padding: 15px;
  background-color: #f5f6f7;
  border-left: 5px solid #afafaf;
}
.cont-wrapper p.note strong {
  position: relative;
  margin: 0 4px 0 25px;
}
.cont-wrapper p.note strong:before {
  content: "";
  position: absolute;
  top: 2px;
  background: url(../images/note.svg) no-repeat;
  background-size: 16px;
  display: inline-block;
  height: 17px;
  width: 17px;
  left: -25px;
}
.cont-wrapper ul {
  margin-bottom: 10px;
  font-size: 15px;
}
.cont-wrapper ul a {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 15px 0;
  color: #474f54;
}
.cont-wrapper ul ul {
  margin-left: 0px;
}
.cont-wrapper ul ul a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 0;
}
.cont-wrapper .search {
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 60px;
  position: relative;
}
.cont-wrapper .search .s-btn {
  display: inline-block;
  color: #ffffff;
  padding: 5px 2px 5px 4px;
  position: absolute;
  top: 10px;
  left: 16px;
}
.cont-wrapper .search .s-btn path {
  fill: #c1c1c1;
}
.cont-wrapper .search .input-bx {
  display: inline-block;
  width: 100%;
  padding: 16px 58px;
  margin: 0;
  outline: 0;
  vertical-align: top;
  background: none;
  color: #333333;
  font-size: 16px;
  border: 1px solid #cccccc;
}
.cont-wrapper .search .input-bx::-webkit-input-placeholder {
  color: #777676;
}
.cont-wrapper .search .input-bx:focus {
  box-shadow: 0 0 7px rgba(34, 194, 163, 0.5) inset;
}
.cont-wrapper .box-area {
  padding: 0 40px 40px;
  position: relative;
}
.cont-wrapper .box-area h2 {
  margin: 62px 0 15px;
  text-align: center;
  font-weight: 400;
}
.cont-wrapper .box-area .category-wrap {
  padding-top: 10px;
}
.cont-wrapper .box-area .category-wrap > div {
  margin-bottom: 30px;
}
.cont-wrapper .box-area .category-wrap .catg-bx {
  height: 255px;
  padding: 20px 30px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
}
.cont-wrapper .box-area .category-wrap .catg-bx h3 {
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
}
.cont-wrapper .box-area .category-wrap .catg-bx h3 a {
  color: #333333;
}
.cont-wrapper .box-area .category-wrap .catg-bx p {
  margin-bottom: 20px;
  font-size: 15px;
  color: #424242;
  line-height: 1.6;
}
.cont-wrapper .box-area .category-wrap .catg-bx .catg-icon {
  display: block;
  width: 12.55%;
  max-width: 42px;
  float: left;
  margin-right: 9px;
}
.cont-wrapper .box-area .category-wrap .catg-bx .catg-icon img {
  width: 34px;
  height: auto;
}
.cont-wrapper .box-area .category-wrap .catg-bx ul {
  min-height: 75px;
  text-align: left;
  margin: 0 0 10px 0;
  line-height: 1.8;
}
.cont-wrapper .box-area .category-wrap .catg-bx ul li {
  font-size: 15px;
  position: relative;
  list-style: none;
}
.cont-wrapper .box-area .category-wrap .catg-bx ul li a {
  display: inline-block;
  padding: 0;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}
.cont-wrapper .box-area .category-wrap .catg-bx ul li a .fa {
  margin-right: 10px;
}
.cont-wrapper .box-area .category-wrap .catg-bx ul li a:hover {
  text-decoration: underline;
}
.cont-wrapper .box-area .category-wrap .catg-bx ul li:before {
  color: #424242;
  content: "\2022";
  font-size: 15px;
  padding-right: 10px;
  position: relative;
  top: 0em;
}
.cont-wrapper .box-area .category-wrap .catg-bx .more {
  display: block;
  font-size: 14px;
}
.cont-wrapper .box-area .category-wrap .catg-bx .more a {
  display: inline-block;
}
.cont-wrapper .box-area .category-wrap .catg-bx:hover {
  background: #f7f9fb;
}
.cont-wrapper .box-area.structure-1 {
  float: none;
  margin: 0 auto;
  clear: left;
  padding: 0 30px 40px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx {
  text-align: left;
  padding: 30px 40px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx h3 {
  margin: 0px 0 12px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx .catg-icon {
  display: none;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx p {
  margin-bottom: 12px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx ul {
  margin: 0 0 10px 0px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx ul li {
  font-size: 14px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx ul li a {
  padding: 2px 0;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx ul li a .fa {
  margin-right: 6px;
}
.cont-wrapper .box-area.structure-1 .category-wrap .catg-bx .more {
  text-align: left;
}
.cont-wrapper .box-area.bx-structure p {
  text-align: center;
}
.cont-wrapper .box-area.bx-structure .category-wrap .catg-bx {
  text-align: left;
  padding: 30px 4px;
}
.cont-wrapper .box-area.bx-structure .category-wrap .catg-bx h3 {
  margin: 0px 0 10px 0;
}
.cont-wrapper .box-area.bx-structure .category-wrap .catg-bx p {
  margin-bottom: 12px;
  text-align: left;
}
.cont-wrapper .box-area.bx-structure .category-wrap .catg-bx ul {
  margin: 0 0 10px 0px;
}
.cont-wrapper .box-area.bx-structure .category-wrap .catg-bx ul li {
  font-size: 15px;
}
.cont-wrapper .box-area.bx-structure .category-wrap .catg-bx ul li a .fa {
  margin-right: 6px;
}
.cont-wrapper .box-area.bx-structure .category-wrap.box-sec .catg-bx {
  border: 0;
}
.cont-wrapper .box-area.bx-structure .category-wrap.box-sec .catg-bx:hover {
  background: #ffffff;
}
.cont-wrapper .content-area {
  padding: 0px 40px 40px;
  position: relative;
}
.cont-wrapper .content-area h2 {
  position: relative;
  margin-top: 72px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid #eaecef;
}
.cont-wrapper .content-area h2:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 1px;
  width: 30px;
  height: 30px;
  display: none;
  background: url(../images/link-grey.svg) no-repeat left center;
  cursor: pointer;
}
.cont-wrapper .content-area h2:after {
  content: '';
  position: absolute;
  left: 0;
  top: -35px;
  width: 100%;
}
.cont-wrapper .content-area h2:hover:before {
  display: block;
}
.cont-wrapper .content-area h3 {
  margin: 56px 0 20px;
}
.cont-wrapper .content-area p img {
  max-width: 600px !important;
  height: auto;
  max-height: 600px;
  border: 1px solid #d5dbdc;
}
.cont-wrapper .content-area .tab-content {
  display: none;
}
.cont-wrapper .content-area .tab-content.active {
  display: block;
}
.cont-wrapper .content-area ul,
.cont-wrapper .content-area ol {
  margin-bottom: 30px;
  margin-left: 19px;
  line-height: 1.6;
}
.cont-wrapper .content-area ul li,
.cont-wrapper .content-area ol li {
  font-size: 16px;
}
.cont-wrapper .content-area ul li + li,
.cont-wrapper .content-area ol li + li {
  margin-top: 10px;
}
.cont-wrapper .content-area ul li a,
.cont-wrapper .content-area ol li a {
  padding: 0;
  color: #25c2a3;
  font-weight: 400;
}
.cont-wrapper .content-area ul li a:hover,
.cont-wrapper .content-area ol li a:hover {
  color: #1da6a1;
}
.cont-wrapper .content-area ul li img,
.cont-wrapper .content-area ol li img {
  margin-top: 22px;
  margin-bottom: 20px;
  max-width: 600px!important;
  height: auto;
  max-height: 600px;
  border: 1px solid #d5dbdc;
  cursor: pointer;
}
.cont-wrapper .content-area ul ul,
.cont-wrapper .content-area ol ul {
  margin-top: 10px;
}
.cont-wrapper .content-area .tab-list {
  list-style: none;
  margin-left: 0;
}
.cont-wrapper .content-area .tab-area {
  margin-left: 0;
  margin-bottom: 15px;
}
.cont-wrapper .content-area .tab-area li {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  margin-right: 5px;
  color: #474f54;
  font-weight: 700;
}
.cont-wrapper .content-area .tab-area li.active {
  border-bottom: 2px solid #25c2a3;
}
.cont-wrapper .content-area .tab-wrap code,
.cont-wrapper .content-area .tab-wrap pre {
  margin-top: 15px;
}
.cont-wrapper .content-area .middle-sec h2:first-child:after {
  border-top: none;
}
.cont-wrapper .content-area .sticky-bar {
  z-index: 1;
  margin-left: -76px;
  padding: 0px 0 0px 48px;
  position: fixed;
  top: 55px;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e3e9ef;
}
.cont-wrapper .content-area .sticky-bar ul {
  margin-bottom: 0;
}
.cont-wrapper .content-area .sticky-bar ul li {
  display: inline-block;
}
.cont-wrapper .content-area .sticky-bar ul li a {
  padding: 28px 12px 8px 12px;
  display: inline-block;
}
.cont-wrapper .content-area .sticky-bar ul li.active {
  border-bottom: 2px solid #25c2a3;
}
.cont-wrapper .content-area .sticky-bar.affix {
  position: fixed;
}
.cont-wrapper .content-area .bread-crumb {
  display: block;
  padding: 28px 0 0 10px;
}
.cont-wrapper .content-area .bread-crumb ul {
  margin: 0;
  white-space: nowrap;
}
.cont-wrapper .content-area .bread-crumb ul li {
  font-size: 14px;
  color: #727a80;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  max-width: 74%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cont-wrapper .content-area .bread-crumb ul li a {
  font-size: inherit;
  font-weight: 700;
  padding: 5px 5px 0;
  color: inherit;
}
.cont-wrapper .content-area .bread-crumb ul li + li:before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  vertical-align: baseline;
  padding: 0;
  margin: 0 8px;
  position: relative;
  bottom: 1px;
  right: 5px;
}
.cont-wrapper .content-area .info-bx a {
  min-height: 111px;
  text-align: left;
  padding: 15px 28px;
  display: block;
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.cont-wrapper .content-area .info-bx a .headline {
  display: block;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}
.cont-wrapper .content-area .info-bx a p {
  height: 44px;
  font-size: 14px;
  color: #777676;
  line-height: 1.6;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.cont-wrapper .content-area .info-bx a:hover {
  background: #f7f9fb;
}
.cont-wrapper .content-area pre,
.cont-wrapper .content-area code {
  background: #f7f9fb;
  padding: 1.2em;
  margin: 30px 0;
  white-space: pre-line;
}
.cont-wrapper .content-area .search-wrap h3 {
  margin: 20px 0 6px;
}
.cont-wrapper .content-area .search-wrap h3 a {
  color: inherit;
}
.cont-wrapper .content-area .search-wrap p {
  font-weight: 300;
  font-size: 14px;
}
.cont-wrapper .content-area .search-wrap p a {
  color: inherit;
}
.cont-wrapper .content-area .search-wrap .source {
  margin-bottom: 15px;
}
.cont-wrapper .content-area .search-wrap .search-result {
  display: none;
  position: relative;
}
.cont-wrapper .content-area .search-wrap .search-result:after {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #e3e9ef;
  position: absolute;
  top: 0;
}
.cont-wrapper .content-area .search-wrap .search-result:first-child:after {
  border: 0;
  height: 0;
}
.cont-wrapper .content-area .search-wrap.sw-bx .search-result {
  background: #f7f9fb;
  margin-top: 40px;
  border-left: 1px solid #e3e9ef;
}
.cont-wrapper .content-area .search-wrap.sw-bx .search-result:after {
  border: 0;
  height: 0;
}
.cont-wrapper .content-area .owl-nav .owl-prev,
.cont-wrapper .content-area .owl-nav .owl-next {
  position: absolute;
  top: 38%;
  z-index: 1;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  background: rgba(94, 205, 222, 0.7);
  color: #ffffff;
  padding: 5px 10px;
  transition: 0.2s;
}
.cont-wrapper .content-area .owl-nav .owl-prev:before,
.cont-wrapper .content-area .owl-nav .owl-next:before {
  content: "\0000AB";
  font-size: 34px;
  position: relative;
  line-height: 1.2;
  top: -3px;
}
.cont-wrapper .content-area .owl-nav .owl-prev:hover,
.cont-wrapper .content-area .owl-nav .owl-next:hover {
  background: rgba(94, 205, 222, 0.9);
}
.cont-wrapper .content-area .owl-nav .owl-prev.disabled,
.cont-wrapper .content-area .owl-nav .owl-next.disabled {
  display: none;
}
.cont-wrapper .content-area .owl-nav .owl-next {
  left: auto;
  right: -43px;
}
.cont-wrapper .content-area .owl-nav .owl-next:before {
  content: "\0000BB";
}
.cont-wrapper .content-area .owl-nav .owl-prev {
  left: -43px;
}
.cont-wrapper .content-area .documentation h1 {
  font-size: 30px;
  font-weight: 400;
}
.cont-wrapper .content-area .documentation h2 {
  font-size: 26px;
  position: relative;
  cursor: pointer;
}
.cont-wrapper .content-area .documentation h2:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0;
  width: 30px;
  height: 30px;
  display: none;
  background: url(../images/link-grey.svg) no-repeat left center;
}
.cont-wrapper .content-area .documentation h2:hover:before {
  display: block;
}
.cont-wrapper .content-area .documentation h3 {
  font-weight: 400;
}
.cont-wrapper .content-area .documentation .cta-link {
  font-size: 14px;
  position: relative;
  border: 1px solid #25c2a3;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
  background: #ffffff;
  color: #25c2a3;
}
.cont-wrapper .content-area .documentation .cta-link + a {
  margin-left: 7px;
}
.cont-wrapper .content-area .documentation .owl-carousel .owl-item img {
  width: auto;
}
.cont-wrapper .content-area.faq-section a:focus {
  outline: 0;
  text-decoration: none;
}
.cont-wrapper .content-area.faq-section a:hover {
  outline: 0;
  text-decoration: none;
}
.cont-wrapper .content-area.faq-section a:active {
  outline: 0;
  text-decoration: none;
}
.cont-wrapper .content-area.faq-section .panel {
  background: none;
  box-shadow: none;
}
.cont-wrapper .content-area.faq-section .panel:last-child {
  border-bottom: none;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading {
  border-radius: 0;
  border: none;
  padding: 0;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading .panel-title {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 1.8;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading .panel-title a {
  color: #333333;
  display: inline-block;
  padding: 15px 15px 0 27px;
  position: relative;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading .panel-title a.collapsed:before {
  left: 0;
  background-position: 0;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading .panel-title a:before {
  content: '';
  background: url(../images/sprites-plus-minus-Icon.png) no-repeat;
  left: -3px;
  top: 19px;
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  background-position: -20px;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading .panel-title a:hover {
  color: #333333;
}
.cont-wrapper .content-area.faq-section .panel .panel-heading + .panel-collapse .panel-body {
  border: none;
}
.cont-wrapper .content-area.faq-section .panel .panel-body {
  padding: 15px 20px 0 27px;
}
.cont-wrapper .content-area.faq-section .panel .panel-body p {
  margin-bottom: 0;
}
.cont-wrapper .content-area.faq-section .panel .panel-body ol {
  margin-bottom: 0;
}
.cont-wrapper .content-area.right-bar-hidden .tocible {
  display: none;
}
.cont-wrapper .content-area #loadMore {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  position: relative;
  border: 1px solid #e3e9ef;
  border-radius: 5px;
  text-decoration: none;
  background: #f7f9fb;
  color: #474f54;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  width: 150px;
  margin: 15px auto 0;
}
.cont-wrapper .apps ~ .go-top.show-arr {
  display: none;
}
.cont-wrapper .go-top {
  display: block;
  position: fixed;
  bottom: -45px;
  right: 285px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
  z-index: 9;
}
.cont-wrapper .go-top.show-arr {
  display: block;
  bottom: 29px;
}
.cont-wrapper .go-top img {
  display: block;
  width: 35px;
  height: 35px;
}
.cont-wrapper .scroll-col {
  background: #ffffff;
  height: calc(100vh - 190px);
  width: 100%;
  max-width: 264px;
  margin-left: 0px !important;
  right: 0;
  position: fixed;
  z-index: 1;
  margin-top: 108px;
  padding-left: 12px;
  padding-top: 0;
  overflow: hidden;
}
.cont-wrapper .scroll-col::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.cont-wrapper .scroll-col::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e3e9ef;
}
.cont-wrapper .scroll-col h4 {
  font-size: 15px;
  color: #727a80;
  font-weight: 600;
  padding: 0 0 6px 14px;
  margin: 0;
}
.cont-wrapper .scroll-col ul {
  list-style: none;
  line-height: 1.4;
  margin: 0;
  position: relative;
  height: auto;
  padding-left: 14px;
  border-left: 2px solid #e3e9ef;
}
.cont-wrapper .scroll-col ul li {
  position: relative;
  margin-top: 0;
}
.cont-wrapper .scroll-col ul li + li {
  margin-top: 2px;
}
.cont-wrapper .scroll-col ul li.heading ul {
  display: none;
  list-style: none;
  border-left: 0px;
  padding-left: 0;
}
.cont-wrapper .scroll-col ul li.subheading {
  padding-left: 18px;
  position: relative;
}
.cont-wrapper .scroll-col ul li.subheading:before {
  content: '';
  position: absolute;
  left: -16px;
  top: 0px;
  z-index: 1;
  width: 2px;
  height: 100%;
  border: 0 solid transparent;
  border-left-width: 2px;
}
.cont-wrapper .scroll-col ul li a {
  color: #474f54;
  font-size: 15px;
  font-weight: 400;
  padding: 3px 0;
  display: block;
}
.cont-wrapper .scroll-col ul li a:hover {
  color: #474f54;
}
.cont-wrapper .scroll-col ul li:before {
  content: '';
  position: absolute;
  left: -16px;
  top: -1px;
  z-index: 1;
  width: 2px;
  height: 30px;
  border: 0 transparent solid;
  border-left-width: 2px;
}
.cont-wrapper .scroll-col ul li.active {
  background: none;
}
.cont-wrapper .scroll-col ul li.active ul {
  display: block;
}
.cont-wrapper .scroll-col ul li.active:before {
  border-color: #25c2a3;
}
.cont-wrapper .scroll-col ul li.active a {
  background: inherit;
}
.cont-wrapper .scroll-col ul li.active.subheading a:before {
  border-color: #25c2a3;
}
.cont-wrapper .scroll-col ul li.active.no-border:before {
  border: 0px;
}
.cont-wrapper .scroll-col ul li:hover a {
  background: none;
}
 > .cont-wrapper .scroll-col ul li:first-child:before {
  width: 0px;
  height: 0;
  border-width: 0px;
}
.cont-wrapper .scroll-col ul li ul {
  list-style: none;
  margin: 0;
}
.cont-wrapper .scroll-col ul li ul li {
  padding-left: 18px;
}
.cont-wrapper .scroll-col ul li ul li.active a:before {
  border-color: #25c2a3;
}
.cont-wrapper .scroll-col ul li ul li a {
  padding: 3px 0;
  line-height: 1.5;
}
.cont-wrapper .scroll-col:hover {
  overflow: auto;
}
/******** Marketplace css ********/
.apps h4 {
  text-align: center;
  margin-bottom: 5px;
  width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.apps h4 a {
  color: inherit;
  text-decoration: none;
}
.apps p {
  color: #727a80;
  font-size: 15px;
  margin: 0;
  padding: 8px 0 0;
  max-height: 115px;
  overflow: hidden;
  display: block;
}
.apps .filter-nav-btn .button-group {
  margin: 30px 0 15px;
  border-bottom: 0;
  text-align: left;
}
.apps .filter-nav-btn .button-group li {
  display: inline-block;
  margin: 8px 0;
}
.apps .filter-nav-btn .button-group li:first-child a {
  margin: 0 1rem 0 0;
}
.apps .filter-nav-btn .button-group li a {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 1rem;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: #727a80;
  position: relative;
  font-weight: 500;
}
.apps .filter-nav-btn .button-group li a.is-checked {
  font-weight: 600;
}
.apps .filter-nav-btn .button-group li a.is-checked:after {
  width: 100%;
}
.apps .filter-nav-btn .button-group li a.is-checked:hover:after {
  width: 100%;
}
.apps .filter-nav-btn .button-group li a:hover:after {
  width: 100%;
}
.apps .filter-nav-btn .button-group li a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #757778;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.apps .content-block {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  min-height: 300px;
  transition: 0.4s;
}
.apps .content-block .tags {
  width: 100%;
  position: absolute;
  bottom: 7px;
  text-align: center;
  padding: 10px;
}
.apps .content-block .view {
  padding: 0 0 12px 0;
}
.apps .content-block .view .bnr-img {
  display: block;
  overflow: hidden;
}
.apps .content-block .view .bnr-img img {
  width: 100%;
  height: 204px;
  transition: 0.4s;
}
.apps .content-block .view .view-wrap {
  background: #f5f5f5;
  padding: 9px 15px;
  height: 45px;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  transition: 0.4s;
  position: relative;
}
.apps .content-block .view .view-wrap:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 17px;
  width: 100%;
  transition: inherit;
}
.apps .content-block .hover-view {
  position: absolute;
  left: 0;
  bottom: 45px;
  width: 100%;
  height: 100px;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  transition: 0.4s;
}
.apps .content-block .hover-view p {
  transition: 0.4s;
}
.apps .content-block .hover-view .links {
  position: absolute;
  bottom: -2%;
  z-index: 2;
  width: auto;
  margin: 0 auto;
  left: 5%;
  right: 5%;
  transition: 0.6s;
}
.apps .content-block .hover-view .links i.fa {
  position: relative;
  top: 1px;
}
.apps .content-block:hover {
  box-shadow: 0 6px 20px #afafaf;
}
.apps .content-block:hover .hover-view {
  height: 218px;
  visibility: visible;
  opacity: 1;
}
.apps .content-block:hover .hover-view .view-wrap {
  height: 162px;
  box-shadow: none;
}
.apps .content-block:hover .hover-view .view-wrap:before {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  background: none;
}
.apps .content-block:hover .hover-view .links {
  bottom: 3%;
}
.apps .content-block:hover .hover-view p {
  padding: 6px 0 0;
  line-height: 1.6;
}
.apps .filter-content .element-item {
  margin-bottom: 30px;
}
.apps .filter-content .grid {
  margin-top: 10px;
}
.apps .filter-content .content-block {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  min-height: 300px;
  transition: 0.4s;
}
.apps .filter-content .content-block .view {
  padding: 0 0 12px 0;
}
.apps .filter-content .content-block .view .bnr-img {
  display: block;
  overflow: hidden;
}
.apps .filter-content .content-block .view .bnr-img img {
  width: 100%;
  height: 204px;
  transition: 0.4s;
}
.apps .filter-content .content-block .view .view-wrap {
  text-align: center;
  background: #ffffff;
  padding: 9px 15px;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  transition: 0.4s;
  position: relative;
}
.apps .filter-content .content-block .view .view-wrap:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 17px;
  width: 100%;
  transition: inherit;
}
.apps .filter-content .content-block .view .view-wrap h4 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 17px;
  color: #333333;
}
.apps .filter-content .content-block .view .tags {
  width: 100%;
  position: absolute;
  bottom: 13px;
  text-align: center;
  padding: 0;
}
.apps .filter-content .content-block .view .tags .lang-cd {
  padding: 0;
}
.apps .filter-content .content-block .view .tags .lang-cd ul {
  text-align: center;
  margin: 0 0 3px;
}
.apps .filter-content .content-block .view .tags .lang-cd li {
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
.apps .filter-content .content-block .view .tags .lang-cd li img {
  width: 100%;
  max-width: 30px !important;
  height: auto;
  border: 0;
  margin: 0px;
}
.apps .filter-content .content-block .view .tags .lang-cd li + li {
  margin-left: 5px;
  margin-top: 0;
}
.apps .filter-content .content-block .hover-view {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  transition: 0.4s;
}
.apps .filter-content .content-block .hover-view p {
  transition: 0.4s;
  max-height: 100px;
}
.apps .filter-content .content-block .hover-view .links {
  position: absolute;
  bottom: -2%;
  z-index: 2;
  width: auto;
  margin: 0 auto;
  left: 5%;
  right: 5%;
  transition: 0.6s;
}
.apps .filter-content .content-block .hover-view .links i.fa {
  position: relative;
  top: 1px;
}
.apps .filter-content .content-block:hover {
  box-shadow: 0 6px 20px #afafaf;
}
.apps .filter-content .content-block:hover .hover-view {
  height: 230px;
  visibility: visible;
  opacity: 1;
}
.apps .filter-content .content-block:hover .hover-view .view-wrap {
  height: 165px;
  box-shadow: none;
}
.apps .filter-content .content-block:hover .hover-view .view-wrap:before {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  background: none;
}
.apps .filter-content .content-block:hover .hover-view .links {
  bottom: 3%;
}
.apps .filter-content .content-block:hover .hover-view p {
  padding: 6px 0 0;
  line-height: 1.6;
  margin-top: -17px;
}
.apps .filter-content .content-block:hover .view .bnr-img img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
/***** End Marketplace css ******/
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}
.image-overlay img {
  width: auto;
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-overlay .close-popup {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 23px;
  line-height: 19px;
  height: 35px;
  width: 35px;
  text-align: center;
  float: right;
  margin: 20px 20px 0 0;
  cursor: pointer;
}
.image-overlay .close-popup span {
  display: inline-block;
  position: relative;
  top: 5px;
}
footer {
  background: #edf1f2;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 91;
}
.affix-top,
.affix {
  position: static;
}
.left-sidebar {
  padding: 0;
  top: 5px;
}
.left-sidebar #s-menu {
  background: #ffffff;
  height: 100vh;
  width: 25%;
  max-width: 360px;
  margin-left: 0;
  padding: 117px 0 10px 80px;
  border-right: 1px solid #e3e9ef;
  position: fixed;
  overflow: hidden;
  z-index: 11;
  list-style: none;
  line-height: 1.2;
  top: 0;
}
.left-sidebar #s-menu::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.left-sidebar #s-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e3e9ef;
}
.left-sidebar #s-menu.affix-top {
  position: relative;
  width: 100%;
}
.left-sidebar #s-menu.affix {
  position: fixed;
  top: 55px;
  width: 25%;
}
.left-sidebar #s-menu li {
  list-style: none;
  position: relative;
  padding: 0px 0 8px 0px;
}
.left-sidebar #s-menu li ul {
  line-height: inherit;
}
.left-sidebar #s-menu li:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  z-index: 1;
  width: 2px;
  height: 25px;
  border: 0 transparent solid;
  border-left-width: 2px;
}
.left-sidebar #s-menu li a {
  padding: 5px 15px;
}
.left-sidebar #s-menu li.active {
  background: none;
}
.left-sidebar #s-menu li.active:before {
  border-color: #25c2a3;
}
.left-sidebar #s-menu li.active a {
  background: inherit;
}
.left-sidebar #s-menu li.active li {
  display: block !important;
}
.left-sidebar #s-menu li.active li.show-more {
  display: none !important;
}
.left-sidebar #s-menu li:hover a {
  background: none;
}
.left-sidebar #s-menu li.no-border.active {
  background: none;
}
.left-sidebar #s-menu li.no-border.active:before {
  border-color: transparent;
}
.left-sidebar #s-menu li.no-border.active a {
  background: inherit;
}
.left-sidebar #s-menu li li {
  padding: 5px 0 4px 30px;
}
.left-sidebar #s-menu li li:before {
  border-left-width: 2px;
  left: 16px;
  height: 24px;
}
.left-sidebar #s-menu li li.show-more {
  cursor: pointer;
  color: #25c2a3;
}
.left-sidebar #s-menu li li a {
  position: relative;
  padding: 0;
}
.left-sidebar #s-menu li li a .external-link {
  display: inline-block;
  width: 20px;
  height: 7px;
  background: url(../images/api-arrow.png) no-repeat left top;
  position: relative;
  vertical-align: top;
  top: 6px;
  margin-left: 5px;
}
.left-sidebar #s-menu .hide-list {
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin-bottom: 0;
}
.left-sidebar #s-menu:hover {
  overflow-y: auto;
}
@media only screen and (max-width: 992px) {
  .left-sidebar {
    display: none;
  }
}
@media only screen and (min-width: 1199px) and (max-width: 1400px) {
  .header .right-area {
    margin-right: -630px;
  }
  .header .right-area .search {
    margin-right: 26px;
  }
  .cont-wrapper .apps {
    padding: 32px 20px 40px;
  }
  .cont-wrapper .apps .element-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 1270px) {
  .header .right-area {
    margin-right: 0;
    right: 0;
  }
  .header .right-area .search {
    margin-right: 26px;
  }
}
@media only screen and (min-width: 1680px) {
  .apps .filter-content .content-block .view .bnr-img {
    height: 204px;
  }
  .apps .filter-content .content-block .view .bnr-img img {
    height: auto;
  }
}
body.overflow {
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e3e9ef;
}
body .header {
  z-index: 101;
}
body .left-sidebar #s-menu.affix-top {
  position: fixed;
  width: 25%;
}
body .cont-wrapper #main {
  position: relative;
  transition: margin-left 0.5s;
}
body .cont-wrapper #main .slide-arrow {
  width: 40px;
  height: 45px;
  position: fixed;
  left: 0;
  top: 65px;
  background: #25c2a3;
  display: none;
  z-index: 102;
  cursor: pointer;
  /* transition: 5s; */
  border-radius: 0 9px 9px 0;
}
body .cont-wrapper #main .slide-arrow i {
  color: #fff;
  font-size: 34px;
  margin-left: 11px;
  margin-top: 6px;
}
body .cont-wrapper .content-slide {
  margin-left: -25%;
  transition: margin-left 0.5s;
}
body .cont-wrapper .content-area.scroll-div {
  height: 790px;
  overflow-y: scroll;
}
body .cont-wrapper .content-area.scroll-div::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body .cont-wrapper .content-area.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e3e9ef;
}
body .cont-wrapper .content-area .article h4 {
  margin-bottom: 20px;
  margin-top: 60px;
}
body .cont-wrapper .content-area .actionName {
  background: #f7f9fb;
  padding: 1.2em;
  margin: 30px 0;
  color: #4A5960;
  display: block;
  border-left: 2px solid #25c2a3;
  font-size: 16px;
  font-weight: 600;
}
body .cont-wrapper .content-area .actionName:focus {
  background: #f7f9fb !important;
}
body .cont-wrapper .content-area .actionName i {
  float: right;
  margin-right: 25px;
  font-size: 39px;
  line-height: 22px;
  color: #d6d7d8;
}
body .cont-wrapper .content-area code {
  padding: 5px 5px;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
}
body .cont-wrapper .content-area h3 {
  position: relative;
  cursor: pointer;
}
body .cont-wrapper .content-area h3:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0;
  width: 30px;
  height: 30px;
  display: none;
  background: url(../images/link-grey.svg) no-repeat left center;
  background-size: 25px 25px;
}
body .cont-wrapper .content-area h3:hover:before {
  display: block;
}
body .cont-wrapper .sideColumExampleConsole {
  position: fixed;
  width: 650px;
  height: 95vh;
  background-color: #f7f9fb;
  top: 54px;
  box-shadow: 1px 0px 7px #333;
  z-index: 8;
  overflow-y: scroll;
  padding: 0 30px 50px;
  display: block;
  right: -700px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum {
  width: 100%;
  right: 0;
  top: 0;
  box-sizing: border-box;
  float: right;
  padding-bottom: 0px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum {
  position: relative;
  height: 100%;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .closeBtn {
  width: 26px;
  border-radius: 50%;
  border: 1px solid #666666;
  height: 26px;
  color: #666666;
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans";
  line-height: 25px !important;
  position: absolute;
  right: 13px;
  top: 50%;
  z-index: 101;
  font-size: 15px !important;
  margin-top: -12px;
  cursor: pointer;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum #loaderr {
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  margin: 0 auto;
  border: 5px solid #f3f3f3 ;
  border-radius: 50%;
  border-top: 5px solid #25c2a3 ;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadcrum {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  top: 55px;
  position: relative;
  z-index: 101;
  width: 643px;
  background-color: #f7f9fb;
  margin-left: -30px;
  padding-left: 40px;
  margin-top: -55px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadcrum.dark {
  box-shadow: 0 0 5px #ccc;
  position: fixed;
  margin-top: 0;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadcrum .breadcrumContainer {
  width: 565px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadcrum .breadcrumContainer span {
  text-decoration: none;
  font-size: 17px;
  line-height: 100%;
  color: #5d6577;
  font-family: "Open Sans";
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadcrum .breadcrumContainer span.divider {
  color: #3a3e4d;
  margin-left: 10px;
  margin-right: 10px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadCrumColum {
  width: 100%;
  float: left;
  display: block;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #f7f9fb;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .link p {
  line-height: 100%;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  display: inline;
  color: #5d6577;
  font-size: 14px;
  font-family: "Open Sans";
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .link p .get {
  border: 2px solid #c1c6d1;
  padding: 4px 7px;
  border-radius: 4px;
  color: #3c4151;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 2px;
  display: inline-block;
  margin-right: 5px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .requstPrmterColum {
  width: 100%;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .requstPrmterColum .requstPrmtermenu {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin-bottom: 0;
  padding-top: 20px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .requstPrmterColum .requstPrmtermenu li a {
  text-decoration: none;
  color: #5d6577;
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
  padding: 0;
  font-family: "Open Sans";
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .prameters-row {
  background-color: #ffffff;
  float: left;
  margin: 0px 0;
  width: 100%;
  border: 1px solid #cccccc;
  border-bottom: none;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .consoleKitRow {
  height: auto;
  background-color: white;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  padding: 10px 15px;
  float: left;
  width: 100%;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .parameterText {
  font-family: "Open Sans";
  font-weight: 400;
  color: #5d6577;
  width: 235px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .parameterText span {
  padding: 2px 4px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .Inputfield {
  width: 265px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .Inputfield .parameterInput {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #67798d;
  border: none;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: 17px;
  outline: none;
  -webkit-appearance: none;
  font-style: italic;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .requstPrmterContainer .fa-pencil {
  font-size: 12px;
  color: #67798d;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum #tab-1 {
  display: block;
}


/*body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm {
  box-sizing: border-box;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead {
  margin-bottom: 0px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead h4 {
  margin: 0;
  font-size: 15px;
  color: #5d6577;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .btns-container {
  display: block;
  box-sizing: border-box;
}*/
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm {
  box-sizing: border-box;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead {
  margin-bottom: 0px;
  position: relative;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead h4 {
  margin: 0;
  font-size: 15px;
  color: #5d6577 ;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead .change-view {
  position: absolute;
  bottom: -14px;
  border: 2px solid rgba(193, 198, 209, 0.62);
  border-bottom: 0;
  right: 0;
  z-index: 9;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead .change-view span {
  display: inline-block;
  font-size: 13px;
  color: rgba(93, 101, 119, 0.64);
  cursor: pointer;
  padding: 4px 6px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead .change-view span.pretty.act {
  background: #e3e4e7 ;
  color: #5d6577 ;
  font-weight: 600;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .responseColm .responseHead .change-view span.raw.act {
  background: #e3e4e7 ;
  color: #5d6577 ;
  font-weight: 600;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .btns-container {
  display: block;
  box-sizing: border-box;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .btns-container .resetBtn {
  text-align: center;
  line-height: 15px;
  width: auto;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .btns-container .resetBtn a {
  text-decoration: none;
  color: #5d6576;
  font-weight: 600;
  border: 2px solid #dce0eb;
  padding: 6px 15px;
  border-radius: 5px;
  height: 44px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .btns-container .productionBtn a {
  color: #5d6577;
  font-size: 15px;
  font-weight: 500;
  background-color: #cde7df;
  background-image: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-decoration: none;
  padding: 10px 15px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .btns-container button.callResorcBtn {
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  background: #25c2a3;
  color: #ffffff;
  padding: 9px 20px;
  z-index: 10;
  min-width: 120px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .prameterTitle {
  color: #5d6577;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 25px;
  font-family: "Open Sans";
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList {
  height: auto;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Open Sans";
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter {
  float: left;
  list-style-type: none;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #cccccc;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterRow {
  width: 100%;
  height: auto;
  display: flex;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterRow .parameterKeyColumn {
  -webkit-box-ordinal-group: 1;
  -o-box-ordinal-group: 1;
  -ms-flex-order: 1;
  order: 1;
  padding-right: 15px;
  padding-left: 15px;
  width: 90px;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterRow .parameterKeyColumn .parameterKey {
  float: left;
  width: 90px;
  height: auto;
  color: #5d6577;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans";
  word-wrap: break-word;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterRow .parameterKeyColumn .parameterKey span {
  display: inline-block;
  font-style: italic;
  font-weight: 400;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterRequirementColumn {
  -webkit-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
  max-width: 25px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterRequirementColumn .parameterRequirement {
  float: left;
  color: #5d6576;
  width: 10px;
  height: 24px;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterRequirementColumn .parameterRequirement .parameterIcon {
  float: left;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #cccccc;
  border-radius: 50%;
  margin-top: 7px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterDescriptionColumn {
  order: 3;
  flex: 4;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 15px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterDescriptionColumn .parameterDescription .parameterExampleValue {
  display: inline;
  font-family: "Open Sans";
  color: #666666;
  background: #e3e4e7;
  border-radius: 3px;
  font-size: 11px;
  padding: 1px 4px;
  margin-top: 3px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterTypeColumn {
  padding-right: 0;
  order: 4;
  -webkit-box-ordinal-group: 4;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterTypeColumn .parameterType {
  color: #5d6577;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  box-sizing: border-box;
  font-family: "Open Sans";
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter:first-child {
  border-top: 1px solid #cccccc ;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .buttonContainer .productionBtn {
  width: 150px;
  height: 40px;
  -webkit-appearance: none;
  border: 0;
  outline: none;
  font-size: 14px;
  background-color: #3f4555;
  border-radius: 5px;
  color: #dbdfeb;
  font-family: "Open Sans";
  font-weight: 600;
  margin: 0px 15px 0 0;
  display: block;
  float: left;
  text-align: left;
  padding: 0 0 0 14px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterDescriptionColumn .parameterDescription {
  display: inline;
  color: #959cad !important;
  margin-top: 1px;
  font-size: 14px;
  line-height: 20px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterDescriptionColumn .parameterDescription p {
  display: inline;
  float: none;
  width: auto;
  color: #5d6577;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
  font-size: 14px;
}
body .cont-wrapper .sideColumExampleConsole #documentationColum .parametersColumTable .parametersList .parameter .parameterColumn.parameterDescriptionColumn .parameterDescription .parameterExampleText {
  color: #5d6577;
  font-style: normal;
  font-weight: 600;
  font-family: "Open Sans";
  display: block;
}
body .cont-wrapper .sideColumExampleConsole.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
body .cont-wrapper .sideColumExampleConsole.scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
body .cont-wrapper .sideColumExampleConsole.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}


/*body .cont-wrapper #scroll_sec {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: auto;
  margin-top: 14px;
}
body .cont-wrapper #scroll_sec .responseBox {
  font-size: 14px;
  font-family: "Open Sans";
  box-sizing: border-box;
}*/

body .cont-wrapper #scroll_sec {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: auto;
  margin-top: 14px;
}
/*body .cont-wrapper #scroll_sec .responseBox {
  font-size: 14px;
  font-family: "Open Sans";
  box-sizing: border-box;
  background-color: #272822 ;
  position: relative;
}*/
body .cont-wrapper #scroll_sec .responseBox {
  font-size: 14px;
  font-family: "Open Sans";
  box-sizing: border-box;
  position: relative;
}
body .cont-wrapper #scroll_sec .responseBox .prettData .react-json-view {
  padding: 15px;
}
body .cont-wrapper #scroll_sec .responseBox .rawData {
  padding: 15px;
  color: #fff;
  display: none;
  word-wrap: break-word;
}
body .cont-wrapper #scroll_sec .responseBox .rawData > ul {
  background: none !important;
}
body .cont-wrapper #scroll_sec .responseBox .rawData > ul li {
  padding: 0 10px !important;
  margin: 25px 0 0 !important;
}
body .cont-wrapper #scroll_sec .responseBox .rawData > ul li label span {
  display: none;
}

body .cont-wrapper #scroll_sec .responseBox pre {
  padding: 0;
  margin: 0;
}
body .cont-wrapper #scroll_sec#scroll_sec::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
body .cont-wrapper #scroll_sec#scroll_sec::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
body .cont-wrapper #scroll_sec#scroll_sec::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}
.header .logo {
  width: 255px;
}
.left-sidebar #s-menu {
  height: 100vh;
  padding: 149px 0 10px 80px;
}
.left-sidebar #s-menu.affix {
  top: 0;
}
.left-sidebar #s-menu li ul {
  margin-bottom: 0;
}
.left-sidebar #s-menu li ul ul {
  margin-top: 2px;
}
.left-sidebar #s-menu li li li {
  padding: 5px 0 4px 19px;
}
.left-sidebar #s-menu li li li:before {
  left: 1px;
  height: 19px;
  top: 5px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
.left-sidebar #s-menu li.active:before{
  border-color: transparent;
}*/
@-moz-document url-prefix() {
  body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .breadcrum {
    width: 650px;
  }
  body .cont-wrapper .sideColumExampleConsole #documentationColum .docColum .closeBtn {
    right: 20px;
  }
}
